<div id="main-content">
    <div style="margin-top: 100px;">
        <div>
            <label for="latitude">Latitud:</label>
            <input type="text" id="latInput">
        </div>
        <div>
            <label for="longitude">Longitud:</label>
            <input type="text" id="lngInput">
        </div>
        <div>
            <label for="countrySelect">País:</label>
            <select id="countrySelect">
                <option value="Ecuador">Ecuador</option>
                <option value="Colombia">Colombia</option>
            </select>
        </div>
        <div>
            <label for="provinceSelect">Provincia:</label>
            <select id="provinceSelect">
                <option value="Pichincha">Pichincha</option>
                <option value="Guayas">Guayas</option>
            </select>
        </div>
        <div>
            <label for="citySelect">Ciudad:</label>
            <select id="citySelect">
                <option value="Quito">Quito</option>
                <option value="Quito">Ibarra</option>
                <option value="Guayaquil">Guayaquil</option>
            </select>
        </div>
        <button id="showLocation">Mostrar Ubicación</button>
    </div>
    <div id="map"></div>
</div>
